[Unit]
Description=AWS Provision Service

[Service]
ExecStart=/home/ubuntu/npm/bin/npm run start-service
WorkingDirectory=/home/ubuntu/bin/aws
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=aws
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production
Environment=SERVER_PORT=30026

[Install]
WantedBy=multi-user.target
